# Varaible Assignment

In [3]:
x=5 # Interger

In [4]:
x

5

# Hello World
## This is also a Header Markdown
**Bold**
*Italic*

Bullet list
* Hello
* World
** Hello World
1. Point 1
2. Point 2

## Integer

In [8]:
type(x)

int

## Float

In [2]:
y = 5.0
print(type(y))
y

<class 'float'>

5.0

## String

In [3]:
"Hello World"
'Hello World'
"""Multiple quotes
1
2
3
"""

'Multiple quotes\n1\n2\n3\n'

In [5]:
long_string = "This_is_a_long_String"
long_string[3:12]

's_is_a_lo'

## Boolean

In [6]:
boolean = True 
another_boolean = False
no_a_boolean = 'True'

a = 1
b = 1

a == b

True

## Non Primitive Data Types

In [9]:
a_list = [1,2,3,4,5, "String"]
a_list

[1, 2, 3, 4, 5, 'String']

In [11]:
a_list[0]

1

In [12]:
a_list[::-1]

['String', 5, 4, 3, 2, 1]

In [13]:
a_list[::2]

[1, 3, 5]

In [14]:
a_tuple = [1,2,3,4,5]

In [15]:
dictionary = {"key":"Value","another":"value"}

In [16]:
dictionary.get("key")

'Value'

In [22]:
add_list = [1,2,3] + [4,5,6]
add_list

[1, 2, 3, 4, 5, 6]

In [19]:
print(3 == 3)
print(3 != 4)
print (3 < 4)
print (2 >= 4)

True
True
True
False

In [20]:
def our_function(x,y,z):
    x = 3
    y = 2
    return x + y + z

In [21]:
our_function(x=1,y=2,z=3)

8

In [24]:
import numpy as np

In [27]:
the_list = range(3, 10)

for i in the_list:
    i = i+1
    print("output is", i)

output is 4
output is 5
output is 6
output is 7
output is 8
output is 9
output is 10