In [38]:
import pandas as pd

In [39]:
data_import = pd.read_csv('data_cleaning.csv')
data_import

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Unnamed: 9,Unnamed: 10
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,NaN,NaN
3,Iter,1,360,108,863,599,680,442,982,NaN,NaN
4,Iter,2,684,508,613,241,249,758,639,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,NaN,NaN
76373,Average,979,641,531,374,448,407,185,439,NaN,NaN
76374,Maximum,783,172,941,53,982,217,963,502,NaN,NaN
76375,Std.Dev.,221,112,717,630,239,561,142,909,NaN,NaN
76376,Total,429,-,-,-,-,847,583,407,NaN,NaN

In [40]:
drop_extra = data_import.drop(columns=["Unnamed: 9", "Unnamed: 10"])
drop_extra

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
3,Iter,1,360,108,863,599,680,442,982
4,Iter,2,684,508,613,241,249,758,639
...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863
76373,Average,979,641,531,374,448,407,185,439
76374,Maximum,783,172,941,53,982,217,963,502
76375,Std.Dev.,221,112,717,630,239,561,142,909
76376,Total,429,-,-,-,-,847,583,407

In [41]:
drop_nans = drop_extra[drop_extra["Row Type"].notna()]
drop_nans

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
3,Iter,1,360,108,863,599,680,442,982
4,Iter,2,684,508,613,241,249,758,639
5,Iter,3,365,126,825,407,855,164,86
...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863
76373,Average,979,641,531,374,448,407,185,439
76374,Maximum,783,172,941,53,982,217,963,502
76375,Std.Dev.,221,112,717,630,239,561,142,909
76376,Total,429,-,-,-,-,847,583,407

In [42]:
column_values = []
iteration = 0

for i in drop_nans["Row Type"]:
    if "first name" in i:
        iteration += 1
    column_values.append(iteration)

In [43]:
iter_cols = drop_nans
iter_cols["Iteration"] = column_values
iter_cols

/var/folders/6t/46w6nxw10wn8zdy79z0hgp8c0000gn/T/ipykernel_96762/3121791173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iter_cols["Iteration"] = column_values

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,5994
76373,Average,979,641,531,374,448,407,185,439,5994
76374,Maximum,783,172,941,53,982,217,963,502,5994
76375,Std.Dev.,221,112,717,630,239,561,142,909,5994
76376,Total,429,-,-,-,-,847,583,407,5994

In [44]:
drop_extra_column_name_rows = iter_cols[iter_cols["Row Type"] != "Row Type"]
drop_extra_column_name_rows

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Iteration
0,first name: Person,last name: Human,date: end of time,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,5994
76373,Average,979,641,531,374,448,407,185,439,5994
76374,Maximum,783,172,941,53,982,217,963,502,5994
76375,Std.Dev.,221,112,717,630,239,561,142,909,5994
76376,Total,429,-,-,-,-,847,583,407,5994

In [45]:
name_dataframe = drop_extra_column_name_rows[drop_extra_column_name_rows["Row Type"].str.contains("first name")]
name_dataframe.drop(columns=["Speed1", "Speed2", "Electricity", "Effort","Weight","Torque"], inplace=True)
name_dataframe.rename(columns={"Row Type": "First Name", "Iter Number":"Last Name", "Power1": "Date"}, inplace=True)
name_dataframe["First Name"] = name_dataframe["First Name"].str[12:]
name_dataframe["Last Name"] = name_dataframe["Last Name"].str[10:]
name_dataframe["Date"] = name_dataframe["Date"].str[5:]
name_dataframe

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/var/folders/6t/46w6nxw10wn8zdy79z0hgp8c0000gn/T/ipykernel_96762/2695682083.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_dataframe["First Name"] = name_dataframe["First Name"].str[12:]
/var/folders/6t/46w6nxw10wn8zdy79z0hgp8c0000gn/T/ipykernel_96762/2695682083.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_dataframe["Last Name"] = name_dataframe["Last Name"].str[10:]
/var/folders/6t/46w6nxw10wn8zdy79z0hgp8c0000gn/T/ipykernel_96762/2695682083.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_dataframe["Date"] = name_dataframe["Date"].str[5:]

      First Name Last Name          Date  Iteration
0         Person     Human   end of time          1
14        Person     Human   end of time          2
28        Person     Human   end of time          3
42        Person     Human   end of time          4
56        Person     Human   end of time          5
...          ...       ...           ...        ...
76309     Person     Human   end of time       5990
76322     Person     Human   end of time       5991
76336     Person     Human   end of time       5992
76350     Person     Human   end of time       5993
76364     Person     Human   end of time       5994

[5994 rows x 4 columns]

In [50]:
no_name_dataframe = drop_extra_column_name_rows[~drop_extra_column_name_rows["Row Type"].str.contains("first name")]
no_name_dataframe

,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque,Iteration
3,Iter,1,360,108,863,599,680,442,982,1
4,Iter,2,684,508,613,241,249,758,639,1
5,Iter,3,365,126,825,407,855,164,86,1
6,Iter,4,764,594,304,718,278,674,774,1
7,Iter,5,487,97,593,206,779,800,123,1
...,...,...,...,...,...,...,...,...,...,...
76372,Iter,6,879,73,977,680,500,395,863,5994
76373,Average,979,641,531,374,448,407,185,439,5994
76374,Maximum,783,172,941,53,982,217,963,502,5994
76375,Std.Dev.,221,112,717,630,239,561,142,909,5994
76376,Total,429,-,-,-,-,847,583,407,5994

In [51]:
pd.merge(left=name_dataframe, right=no_name_dataframe, how="inner", on="Iteration")

,First Name,Last Name,Date,Iteration,Row Type,Iter Number,Power1,Speed1,Speed2,Electricity,Effort,Weight,Torque
0,Person,Human,end of time,1,Iter,1,360,108,863,599,680,442,982
1,Person,Human,end of time,1,Iter,2,684,508,613,241,249,758,639
2,Person,Human,end of time,1,Iter,3,365,126,825,407,855,164,86
3,Person,Human,end of time,1,Iter,4,764,594,304,718,278,674,774
4,Person,Human,end of time,1,Iter,5,487,97,593,206,779,800,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46404,Person,Human,end of time,5994,Iter,6,879,73,977,680,500,395,863
46405,Person,Human,end of time,5994,Average,979,641,531,374,448,407,185,439
46406,Person,Human,end of time,5994,Maximum,783,172,941,53,982,217,963,502
46407,Person,Human,end of time,5994,Std.Dev.,221,112,717,630,239,561,142,909
46408,Person,Human,end of time,5994,Total,429,-,-,-,-,847,583,407