# Exercise task with original data from kaggle.com about wages in SF

In [27]:
import pandas as pd

In [28]:
sal = pd.read_csv('Salaries.csv', low_memory=False)

In [29]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

### Professional title of a selected person

In [30]:
person = sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

In [31]:
person.head()

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### Maximum paid person

In [32]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

### Person who earns the least

In [36]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

### Average salary for each employee between 2011-2014

In [42]:
sal.groupby('Year').mean()['TotalPay']

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

### How many unique job titles are there?

In [43]:
sal['JobTitle'].nunique()

2159

### What are the top 5 jobs

In [44]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### how many job titles were held by only one person in 2013?

In [46]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

### How many employees have a "Chief" in their job title?

In [50]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [51]:
chief_string('DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)')

True

In [52]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

### Is there a correlation between the length of a job title and wages?

In [53]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [54]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000